<div class="blog-heading">
<h2>Rebecca Nguyen's Blog</h2>
</div>
<% @posts.each do |post| %>

<div class= "blog">
   <p><strong><%= post.title %></strong></p>
 </div>

 <div class="blog-text">
    <p>
    <%= post.content %>
  </br>
  </br>
    <%= link_to 'View', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
</div>
 
  
<% end %>

</br>
<%= link_to 'Make New Post', new_post_path %>
