<h1>Rebecca Nguyen's Blog</h1>

<% @posts.each do |post| %>

<div class= "blog">
 <p>thoughts with:</p>
    <p><%= post.name %></p>
 <p></p> 
   <p><%= post.title %></p>
 </div>

 <div>
    <p><%= post.content %><%= link_to 'View', post %>
    <%= link_to 'Edit', edit_post_path(post) %><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
 
  
<% end %>

<br />
<%= link_to 'New Post', new_post_path %>
